
build/build-gotvptop_libs-Desktop-Debug/

DependLibs/CoreLib/build/build-CoreLib-Desktop-Debug/

DependLibs/CoreLib/build/Qt/CoreLib\.pro\.user

lib/

*.user

build/build-libkodi-Desktop-Debug/

build/build-libptopengine-Desktop-Debug/

build/build-gotvptop_app-Desktop-Debug/

build/build-libdepends-Desktop-Debug/

build/build-libffmpeg-Desktop-Debug/

build/build-libopencore-amr-Desktop-Debug/

build/objs/

*.autosave
*.obj
*.tlog
*.pdb
*.log
*.db
*.suo
*.idb

*.opendb

build/VS2015/objs/libass/Debug/

build/VS2015/objs/libassD/Debug/

build/VS2015/objs/libcurl/Debug/

build/VS2015/objs/libglew/Debug/

build/VS2015/objs/libiconv/Debug/

GoTvApps/GoTvPtoP/build/VS2015/debug/

GoTvApps/GoTvPtoP/build/VS2015/GeneratedFiles/

build/VS2015/objs/libkvazaar/Debug/
/build/VS2015/objs
/build/VS2015/.vs
