
build/build-gotvptop_libs-Desktop-Debug/

DependLibs/CoreLib/build/build-CoreLib-Desktop-Debug/

DependLibs/CoreLib/build/Qt/CoreLib\.pro\.user

lib/

*.user

build/build-libkodi-Desktop-Debug/

build/build-libptopengine-Desktop-Debug/

build/build-gotvptop_app-Desktop-Debug/

build/build-libdepends-Desktop-Debug/

build/build-libffmpeg-Desktop-Debug/

build/build-libopencore-amr-Desktop-Debug/

build/objs/

*.autosave
*.obj
*.tlog
*.pdb
*.log
*.db
*.suo
*.idb

build/bin/
