
build/build-gotvptop_libs-Desktop-Debug/

DependLibs/CoreLib/build/build-CoreLib-Desktop-Debug/

DependLibs/CoreLib/build/Qt/CoreLib\.pro\.user

*.user

build/build-libkodi-Desktop-Debug/

build/build-libptopengine-Desktop-Debug/

build/build-gotvptop_app-Desktop-Debug/

build/build-libdepends-Desktop-Debug/

build/build-libffmpeg-Desktop-Debug/

build/build-libopencore-amr-Desktop-Debug/

build/objs/

*.autosave
*.obj
*.tlog
*.pdb
*.log
*.db
*.suo
*.idb

*.opendb
*.vs

build/VS2015/objs

GoTvApps/GoTvPtoP/build/VS2015/debug/

GoTvApps/GoTvPtoP/build/VS2015/GeneratedFiles/

build/VS2015/objs/libkvazaar/Debug/
/build/VS2015/objs

build/bin/

*.ilk

*.cache

build/VS2015/Build/Debug/x86/Temp/EasyHookDll/EasyHookDll_32\.res

bin/

*.o

DependLibs/libpython/build/VS2015/amd64/

DependLibs/libpython/build/VS2015/_bsddb\.exp

DependLibs/libpython/build/VS2015/_ctypes\.exp

DependLibs/libpython/build/VS2015/_ctypes_test\.exp

DependLibs/libpython/build/VS2015/_elementtree\.exp

DependLibs/libpython/build/VS2015/_hashlib\.exp

DependLibs/libpython/build/VS2015/_msi\.exp

DependLibs/libpython/build/VS2015/_multiprocessing\.exp

DependLibs/libpython/build/VS2015/_socket\.exp

DependLibs/libpython/build/VS2015/_sqlite3\.exp

DependLibs/libpython/build/VS2015/_ssl\.exp

DependLibs/libpython/build/VS2015/_testcapi\.exp

DependLibs/libpython/build/VS2015/_tkinter\.exp

DependLibs/libpython/build/VS2015/bz2\.exp

DependLibs/libpython/build/VS2015/pyexpat\.exp

DependLibs/libpython/build/VS2015/python27_d\.exp

DependLibs/libpython/build/VS2015/select\.exp

DependLibs/libpython/build/VS2015/sqlite3\.exp

DependLibs/libpython/build/VS2015/unicodedata\.exp

DependLibs/libpython/build/VS2015/winsound\.exp

*.stash
/build-libs
/DependLibs/Python-2.7.14/python.bat

build-sharedlibs/Linux/x86_64/debug/libpythoncore_d\.so

build-sharedlibs/Linux/x86_64/debug/libpythoncore_d\.so\.1

build-sharedlibs/Linux/x86_64/debug/libpythoncore_d\.so\.1\.0

build-sharedlibs/Linux/x86_64/debug/libpythoncore_d\.so\.1\.0\.0

*.a

*.so

*.1

*.0

build-sharedlibs/Linux/x86_64/debug/
