<?xml version="1.0" encoding="utf-8"?>
<!-- Changes made to Package Name should also be reflected in the Debugging - Package Name property, in the Property Pages -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.p2pgotv.gotvstation"
        android:versionCode="1"
        android:versionName="1.0">

	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

    <application android:icon="@drawable/icon" android:theme="@style/MyTheme" android:hasCode="true" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait">

       <activity android:name=".MyP2PWebApp"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ActivityAbout" android:label="@string/activity_about_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityAnchorSettings" android:label="@string/activity_anchor_settings_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityBrowseFiles" android:label="@string/activity_browse_files_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityCamClient" android:label="@string/activity_cam_client" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityCameraSnapshot" android:label="@string/activity_camera_snapshot_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityCamServer" android:label="@string/activity_cam_server" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityCamTest" android:label="@string/activity_cam_test" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityConfirmShredFile" android:label="@string/activity_confirm_shred_file_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityCreateProfile" android:label="@string/activity_create_profile_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityDownloads" android:label="@string/activity_downloads_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityEditAccount" android:label="@string/activity_edit_account_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityEditContactInfo" android:label="@string/edit_contact_info" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityEditPermission" android:label="@string/activity_edit_plugin_permissions" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityEditPermissionRelay" android:label="@string/activity_edit_relay_permissions" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityEditProfile" android:label="@string/activity_edit_profile_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityEditStoryboard" android:label="@string/activity_edit_storyboard_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityManageAnchorSettings" android:label="@string/activity_manage_anchor_settings_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityNetworkSettings" android:label="@string/activity_network_settings_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityNetworkStatus" android:label="@string/activity_network_status_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityPersonalRecorder" android:label="@string/activity_personal_recorder_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityPhoneShake" android:label="@string/activity_phone_shake_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityPickImage" android:label="@string/activity_pick_image_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityScanPeopleSearch" android:label="@string/activity_people_search_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityScanProfiles" android:label="@string/activity_scan_profiles_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityScanWebCams" android:label="@string/activity_scan_web_cams_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivitySdCard" android:label="@string/activity_sdcard_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivitySelectFileToSend" android:label="@string/activity_select_file_to_send_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityTestAnchorSettings" android:label="@string/activity_test_anchor_settings_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityTestIsMyPortOpen" android:label="@string/activity_test_is_my_port_open_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityTestNetwork" android:label="@string/activity_test_network_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendCallPhoneNumber" android:label="@string/call_contacts_phone_number" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendChangeFriendship" android:label="@string/activity_change_friendship_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendMultiSession" android:label="@string/activity_to_friend_multisession_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendVoicePhone" android:label="@string/activity_to_friend_voice_phone_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendVideoPhone" android:label="@string/activity_to_friend_video_phone_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendTodGame" android:label="@string/activity_to_friend_tod_game_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendRequestRelay" android:label="@string/activity_to_friend_request_relay_name" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityToFriendViewSharedFiles" android:label="@string/activity_to_friend_view_shared_files_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityUploads" android:label="@string/activity_uploads_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityViewLibraryFiles" android:label="@string/activity_view_library_files_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityViewVideoFile" android:label="@string/activity_view_video_file_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityViewAudioFile" android:label="@string/activity_view_audio_file_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityViewPhoto" android:label="@string/activity_view_photo_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".ActivityViewSharedFiles" android:label="@string/activity_view_shared_files_title" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name=".PopupMenu" android:label="@string/popup_menu" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait" />
    <activity android:name="com.p2pgotv.gotvstation.rteditor.media.choose.MediaChooserActivity" />
    <activity android:name="com.p2pgotv.gotvstation.rteditor.media.crop.CropImageActivity" />
  </application>
</manifest>